{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TheReadingGame</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#game" ).autocomplete({
              source: "{% url 'home' %}",
              minLength: 2
            });
          });
    </script>
</head>

<body>
    <!-- Start Header -->
    <header class="" role="banner">
        <nav class="navbar navbar-default mu-navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    				        <span class="sr-only">Toggle navigation</span>
    				        <span class="icon-bar"></span>
    				        <span class="icon-bar"></span>
    				        <span class="icon-bar"></span>
    				      </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-book" aria-hidden="true"></i>TheReadingGame</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav mu-menu navbar-right">
                        <li><a href="{% url 'home' %}"> Search A Book</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </header>
    <!-- End Header -->

    <div class="container-fluid">
        <div class="center-screen">
            <div class="content-center">
                <div class="row">
                    <div class=col-lg-6>
                        <img src="{{book.image_url}}" width="250px" height="400" alt="">
                    </div>
                    <div class=col-lg-6>
                        <ol>
                            <li>
                                <h5>Title:</h5>{{book.title}} </li>
                            <li>
                                <h5>authors:</h5> {{book.authors}} </li>
                            <li>
                                <h5>Original Publication Year: </h5>{{year}} </li>
                            <li>
                                <h5>ISBN:</h5>{{book.isbn}} </li>
                            <li>
                                <h5>Average Rating: </h5> {{book.average_rating}} </li>
                            <li>
                                <h5>Ratings Count: </h5>{{book.ratings_count}} </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
