{% extends 'BlogApp/layout.html' %} {% load static %} {% block content %} {% if user.is_authenticated %} {% load crispy_forms_tags %}
<div class="container" style="margin-top: 100px">
<div class="row">
<div class="col-lg-8">
<h1> Post</h1>
<a href="{%url 'Blog:Blogs'%}">
<button class="btn btn-primary" type="button" name="button"> Back to Journals</button>
</a>
<div class="card my-4">
    <h5 class="card-header">  {{ posted.author}}  {{posted.title}} <i>{{ posted.date_posted }} </i></h5>
    {% if posted.author == user %}
    <a class="btn btn-secondary" href="{% url 'Blog:Post-update' posted.id %}"> Update post </a>
    <a class="btn btn-danger" href="{% url 'Blog:Post-delete' posted.id %}"> Delete Post</a> {% endif %}
    <div class="card-body">
        {{ posted.content}}
    </div>
</div>
{% else %}
<div class="container">
    <div class="card my-4">
        <h5 class="card-header">Sorry no acces</h5>
        <div class="card-body">
            <h2>Sorry you have no acces to this page.</h2>
            <a href=" {% url 'users:Login' %}">
            <button type="button" class="btn btn-secondary">Login</button>
            </a>
            <a href=" {% url 'users:Register' %}">
            <button type="button" class="btn btn-secondary">Register</button>
            </a>
        </div>
    </div>
</div>
{% endif %}
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info"> Post comment</button>
            </div>
        </form>
    </div>
</div>
<!-- Single Comment -->
{% for item in comments %}
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="{}" alt="">
    <div class="media-body">
        <h5 class="mt-0">{{item.author}}</h5>
        {{ item.comment}}
    </div>
</div>
{% endfor %}
{% endblock %}
